<header>
    <!-- LOGO -->
    <a class="brand-logo" href="/"> 
        <img src="{{ 'logo.svg' | asset_url }}" alt="logo"> 
    </a>

    <!-- TOP NAVIGTION (LAPTOPS) -->
    <nav class="top-nav">
        <ul>
            <!-- MAIN MENU ITEMS -->
            <li class="menu-icon"> <a onclick="openDrawer()"> <i class="fa fa-bars"></i></a></li>
            {% for link in linklists.main-menu.links %}
            <li class="main-menu-item"><a href="{{ link.url }}">{{ link.title | escape }}</a></li>
            {% endfor %}

            <!-- SECONDARY MENU ITEMS -->
            <li class="secondary-menu-item"> <a href="/search"><i class="fas fa-search"></i></a></li>
            <li class="secondary-menu-item"><a href="/cart"> <i class="fas fa-shopping-cart"></i></a></li>
            
        </ul>
    </nav>
    
    <!-- SIDE DRAWER (PHONES/SMALL DEVICES) -->
    <nav class="side-nav">
        <i onclick="closeDrawer()" class="fas fa-times"></i>
        <ul>
            {% for link in linklists.main-menu.links %}
            <li><a href="{{ link.url }}">{{ link.title | escape }}</a></li>
            {% endfor %}
        </ul>
    </nav> 
</header>

<!-- 
{% for link in linklists.main-menu.links %}
    {% assign child_list_handle = link.title | handleize %}
    {% if linklists[child_list_handle].links != blank %}
        <a href="{{ link.url }}">{{ link.title }}</a>
        [{% for childlink in linklists[child_list_handle].links %}
            <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
        {% endfor %}]
    {% else %}
        <a href="{{ link.url }}">{{ link.title }}</a>
    {% endif %} 
{% endfor %}
{% if shop.customer_accounts_enabled %}
    {% if customer %}
    <a href="/account">account</a>
    {{ 'log out'  | customer_logout_link }}
    {% else %}
    {{ 'log in ' | customer_login_link }}
    {{ 'register' | customer_register_link }}
    {% endif %}
{% endif %} -->