{% assign names = "fab fa-facebook,fab fa-instagram,fab fa-patreon" | split: "," %}
<div class="overlay">

</div>
<img class="landing-logo" src="{{ 'logo-alt.svg' | asset_url }}" alt="logo">
<div class="slideshow-container">
  {% for block in section.blocks %}
    <div class="slide fade" {{ block.shopify_attributes }}>
      <img src='{{ block.settings.image | img_url: '2000x2000', crop: 'center'}}'>
    </div>
  {% endfor %}
</div>


<div class="hero-section"> 
  <p>  {{ section.settings.hero-text }} </p>
  <button onclick="call_to_action()"  class="button">  ENTER </button>
</div>

<div class="social-media"> 
  <ul>
    {% for name in names %}
      <li> 
        <a href=""> <i class="{{ name }}"> </i></a> 
      </li>
    {% endfor %}
  </ul>
</div>

  {% schema %}
  {
    "blocks": [
      {
        "type": "slidehow_image",
        "name": "Slideshow Image",
        "limit": 5,
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ] 
      }
    ],
    "settings": [
      {
        "type": "text",
        "id": "hero-text",
        "label": "Hero Text",
        "default": "Art By Mikhail SK",
        "placeholder": "Enter Text..."
      }
    ]
  }
{% endschema %}