{% section 'header' %}
<div class="cart-container">
  {% if cart.item_count > 0 %}
  <div class="default-cart">
    <h1> Shopping Cart </h1>
    <a href="/home"> &larr; Continue Shopping </a>
    <hr>
    <form action="/cart" method="post" novalidate>
      <table>
        <thead>
          <th colspan="2">Product </th>
          <th> Price </th>
          <th> Quantity </th>
          <th> Total </th>
        </thead>
        <tbody>
          {% for item in cart.items %}
            <tr>
              <td>
                <a href="{{ item.url | within: collections.all }}">
                  <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
                </a>
              </td>
              <td>
                <a href="{{ item.url }}">{{ item.product.title }}</a>
                {{ item.variant.title }}
                <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">remove</a>
              </td>
              <td>{{ item.price | money }}</td>
              <td>
                <input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0">
              </td>
              <td>
                {% if item.original_line_price != item.line_price %}{{ item.original_line_price | money }}{% endif %}
                {{ item.line_price | money }}
                {% for discount in item.discounts %}{{ discount.title }}{% endfor %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="checkout-text">
        <p> Sub Total {{ cart.total_price | money }}</p>
        <button type="submit" name="update">Update</button>
        <button type="submit" name="checkout">Checkout</button>
      </div>
    </form>
  </div>
  {% else %}
  <div class="empty-cart">
    <h2> Shopping Cart </h2>
    <p> Your cart is curerently empty. </p>
    <button> Keep Shopping </button>
  </div> 
{% endif %}
</div>